@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/56b84998d9d50ec5739f4f51c3745edd.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/6809f8215af141bde2af5153ed97022d.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/bf7f172e7e6158116d37a7d48138bb73.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/b359ea52f4e201c3365adfcfdc5d01e7.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/4c363a06f0553d911fe2a2da1a3571fb.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/766b66df8b64ccaa65e6b57c456944b0.ttf) format('truetype');
}
