@font-face {
  font-family: 'Arapey';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://br-winter-boat-ajcnusyq.storage.c-3.us-east-2.aws.neon.tech/tibly-site-media/sites/d2eb52d5-84ae-4a95-9bb9-9e85adde75d7/63b1bc1e1360050560ed8c3802a24aa9.ttf) format('truetype');
}
